title{
    font-family: 'Times New Roman', Times, serif;
}


ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-right: 10px;
    
}
a{
    text-decoration: none;
    height: 20px;

}

.header_wrap {
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 207, 227);
    padding: 0 20px;
}

img{
    width:100px;
    height: 100px;
}