
p
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 40px;
    color: rgb(86, 66, 66);
}


ul
 {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-right: 10px;
    
}
a
{
    text-decoration: none;
    height: 20px;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;

}

a:hover
{
    cursor: pointer;
    color: rgb(225, 145, 203);
}

.header_wrap
 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 207, 227);
    padding: 0 20px;
}
.logo
{
    height: 100px;
    width: 100px;
}

.text_img
{
    height: 70px;
    width: 100px;
}
.footer_wrap{
background-color: rgb(247, 191, 209);
display: flex;
}

h2 
{
 font-family: Georgia, 'Times New Roman', Times, serif;
 color: rgba(91, 67, 67, 0.815);
}
.footer_logo{
    width: 30%;
    padding-left: 10px;
}
.footer_up{
    align-items: end;
}