

p
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 40px;
}


ul
 {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-right: 10px;
    
}
a
{
    text-decoration: none;
    height: 20px;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;

}

a:hover
{
    cursor: pointer;
    color: rgb(225, 145, 203);
}

.header_wrap
 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 207, 227);
    padding: 0 20px;
}
.logo
{
    height: 100px;
    width: 100px;
}

.text_img
{
    height: 70px;
    width: 100px;
}
.footer_wrap{
background-color: rgb(247, 191, 209);
}

h2 
{
 font-family: Georgia, 'Times New Roman', Times, serif;
 color: rgba(91, 67, 67, 0.815);
}

.footer_logo{
    width: 30%;
    margin-left: 10px;

}
.footer_up
{

    display: flex;
    margin-right: 10px;
    justify-content: space-between;

}

.footer_mid
{
    display: flex;
    justify-content: flex-start;
    gap: 20px;

}
.card__item
{
    border: 1px solid;
    border-color: rgb(250, 170, 230);
    display: flex;
    min-height: 300px;
    margin-bottom: 10px;
}
.card__desc
{
    padding: 30%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}